* {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../media/grass.jpg);
  /* Blurring the background. Applies behind the element... */
  backdrop-filter: blur(9px);
  background-size: cover;
}

@keyframes display_data {
  0% {
    transform: scale3d(0, 1, 1);
  }
  100% {
  transform: scale3d(1, 1, 1);

  }
}
@keyframes opacity {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes display_button_back {
  0% {
    right: 25px;
    transform: scale3d(0.75, 0.75, 1);
  }
  100% {
    right: 0px;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes display_button_next {
  0% {
    left: 25px;
    transform: scale3d(0.75, 0.75, 1);
  }
  100% {
    left: 0px;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes display_opacity_zoom {
  from {
    opacity: 0%;
    transform: scale3d(0.5, 0.5, 1);
  }
  to {
    opacity: 100%;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes display_schedule {
  from{    
    opacity: 0%;
    transform: scale3d(.25,1,1);
  }
  to{
    opacity: 100%;
    transform: scale3d(1,1,1);
  }
}
@keyframes close_schedule {
  from{    
    opacity: 100%;
    transform: scale3d(1,1,1);
  }
  to{
    opacity: 0%;
    transform: scale3d(.25,1,1);
  }
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
}

.title {
  margin-top: 7%;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* animation: display_opacity_zoom 1s ease-out; */
}

.year_title {
  margin-left: 5px;
  font-size: 40px;
  letter-spacing: 5px;
  color: lightsalmon;
  text-align: center;
}

.month_title {
  margin-left: 15px;
  font-size: 25px;
  letter-spacing: 15px;
  text-align: center;
}

.calendar {
  height: 75%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.month_days {
  margin-top: 10px;
  width: 100%;
  height: 50%;
  /* animation: opacity 1s ease-in-out; */
}

table {
  margin-top: 20px;
  width: 100%;
  font-size: 22px;
}

tr,
th,
td {
  background-color: none;
}

th {
  width: 14%;
  text-align: center;
  color: white;
}

th:first-child,
th:last-child {
  color: lightsalmon;
}

td {
  width: 2.38em;
  height: 2.38em;
  color: white;
  text-align: center;
  border-radius: 50%;
}

td:hover {
  background-color: rgba(112, 203, 255, 0.349);
}

.data_display {
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 5px;
  overflow-y: scroll;
  /* animation: display_data 2s ease; */
}

.data_display_item{
  width: 100%;
  
}

.data_display_div_title{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.data_display_div_title :first-child{
  margin-left: 5px;
  }


.data_display_div_title :last-child{
    margin-right: 10px;
    background-color: lightsalmon;
    border-radius: 5px;
  }

.data_display_div_description {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-size: 17px;
  color: black;
  margin-bottom: 5px;
}

.data_display_div_description span{
  margin-left: 10px;
}

.schedule_day{
  background-color: rgba(112, 203, 255, 0.349);
} 

.weekend{
color: lightsalmon;
}

.other_month {
  background: none;
  color: rgba(175, 175, 175, 0.45);
}

.buttons {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 35px;
  font-weight: 400;
  color: white;
}

button:hover{
  cursor: pointer;
}

button:first-child{
  /* animation: display_button_back 1s ease;  */
  position: relative;
}

button:first-child img{
  content: url(../../media/left-arrow-line-symbol.svg);
}

/* 
button:not(:first-child):not(:last-child){
  animation: display_opacity_zoom 1s ease-out;
} */

button:last-child{
  /* animation: display_button_next 1s ease;  */
  position: relative;
}

button:last-child img{
  content: url(../../media/right-arrow-angle.svg);
}

.arrow_img{
  width: 35px; 
  height: 35px"
}

.hide_form{
  display: none;

}

.schedule_display{
  display: flex;
  width: 97vw;
  height: 80vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: white;
  justify-content: space-between;
  align-items: flex-start;
  /* animation: display_schedule .3s ease; */
}

/* .schedule_close{
   animation: close_schedule .3s ease;
  animation-fill-mode: forwards;
 #87FFA7 <= Color for schedules 
} */

.close_button{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close_button :first-child{
  margin-left: 15px;
  margin-top: 50px;
}

.close_button span{
  font-size: 25px;
  margin-right: 10px;
}

.close_button span:hover{
  cursor: pointer;
}

form{    
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}

.schedule_button_div, .schedule_time_div, .schedule_title_div, .schedule_description_div {
  width: 100%;
  height: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

input{
  width: 100%;
  font-size: 22px;
  border: 2px black solid;
  border-top: none;
  border-right: none;
  border-left: none;
}
.schedule_time_div{  
  height: 15%;
  flex-direction: row;
}

.schedule_time_div input{  
  width: 150px;
  height: 50px;
}

.schedule_time_div div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.schedule_button_div{
  justify-content: center;
  align-items: center;
}

.schedule_button_div button{
  font-size: 20px;
  color: black;
  border: 2px black solid;
  width: 30%;

}


@media only screen and (min-width: 1279px){
  .title{
    margin-top: 2%;
  }
  
  .data_display{
    margin-top: 35px;    
    height: 70vh;
  }

  .calendar{
    width: 97vw;
    flex-direction: row;
    align-items: flex-start; 
  }

  .month_days{
    height: fit-content;
  }

  td{
    border-radius: 0%;
  }
  .buttons{
    width: 50vw;
  }

}